@inherits Outrage.Patternfly.Components.Base.PatternflyComponentBase

<div class="@Classes" @attributes="AdditionalAttributes">
  <ul class="pf-v5-c-tree-view__list" role="tree">
    @ChildContent
  </ul>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-v5-c-tree-view"});
        return classes;
    }
}

