@page "/accordion"

<PageTitle>Accordion</PageTitle>

<h1>Accordion</h1>

<PatternflyAccordion UseSavedState="true" CloseOthers="true" AccordionId="accordion_1">
    <PatternflyAccordionPanel StateId="one" Visible="true">
        <Header>
            One
        </Header>
        <Body>
            Panel 1 Content
        </Body>
    </PatternflyAccordionPanel>

    <PatternflyAccordionPanel StateId="one" >
        <Header>
            Two
        </Header>
        <Body>
            Panel 2 Content
        </Body>
    </PatternflyAccordionPanel>

</PatternflyAccordion>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
