@page "/form"
@using Newtonsoft.Json

<PageTitle>Form</PageTitle>

<h1>Form</h1>
<PatternflyPanel>
    <Header>Edit Product</Header>
    <Main>
        <PatternflyEditForm Model="value" OnValidSubmit="SetComplete" Horizontal="true">
            <PatternflyFieldGroup Label="Id" IsRequired="false" Name="id">
                <Help>The product id</Help>
                <Editors>
                    <PatternflyInputNumber readonly @bind-Value="value.Id" />
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyFieldGroup Label="Product" IsRequired="true" Name="name">
                <Help>The name of the product</Help>
                <Editors>
                    <PatternflyInputText @bind-Value="value.Name" />
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyFieldGroup Label="Price" IsRequired="true" Name="price">
                <Help>The price of the product</Help>
                <Editors>
                    <PatternflyInputNumber @bind-Value="value.Price" />
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyFieldGroup Label="Description" IsRequired="true" Name="description">
                <Help>A description of the product</Help>
                <Editors>
                    <PatternflyInputTextArea @bind-Value="value.Description" />
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyFieldGroup Label="Type" IsRequired="true" Name="type" Stack="true">
                <Help>The type of product</Help>
                <Editors>
                    <InputRadioGroup @bind-Value="value.Type">
                        <PatternflyInputRadio Value="@("subscription")" Label="Subscription" />
                        <PatternflyInputRadio Value="@("product")" Label="Product" />
                    </InputRadioGroup>
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyFieldGroup Label="Active" IsRequired="true" Name="active">
                <Help>Is the product active</Help>
                <Editors>
                    <PatternflyCheckbox @bind-Value="value.Active" Label="Active Label" />
                </Editors>
            </PatternflyFieldGroup>

            <PatternflyActionList>
                <PatternflyAction type="submit">Save</PatternflyAction>
            </PatternflyActionList>
        </PatternflyEditForm>
    </Main>
</PatternflyPanel>

<p>
    @completeResult
</p>

@code {
    TableModel value = new TableModel
        {
            Id = 1,
            Name = "Cardboard box",
            Price = 5.10m,
            Description = "As it says on the tin.",
            Active = false,
            Type = "product"
        };
    string completeResult;

    class TableModel
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public decimal Price { get; set; }
        public string Description { get; set; }
        public bool Active { get; set; }
        public string Type { get; set; }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void SetComplete()
    {
        this.completeResult = JsonConvert.SerializeObject(value);
        this.StateHasChanged();
    }
}