@page "/modal"

<PageTitle>Modal</PageTitle>

<h1>Modal</h1>

<PatternflyButton Color="ButtonColor.Primary" Clicked="() => modal.Show()">Show Modal</PatternflyButton>
<PatternflyModal @ref="modal">
    <ModalHeader>Title</ModalHeader>
    <HelpContent>This is help</HelpContent>
    <ModalBody>The Content</ModalBody>
    <ModalFooter>Footer Content</ModalFooter>
</PatternflyModal>

@code {
    PatternflyModal modal;
}