@page "/modal"

<PageTitle>Modal</PageTitle>

<h1>Modal</h1>

<PatternflyButton Color="ButtonColor.Primary" Clicked="() => modal.Show()">Show Modal</PatternflyButton>
<PatternflyModal @ref="modal">
    <Header>Title</Header>
    <Help>This is help</Help>
    <Body>The Content</Body>
    <Footer>Footer Content</Footer>
</PatternflyModal>

@code {
    PatternflyModal modal = default!;
}