@page "/progress"

<PageTitle>Progress</PageTitle>

<h1>Progress</h1>

<PatternflyProgress ValueMin="0" ValueMax="100" Value="0" Description="No progress"/>
<PatternflyProgress ValueMin="0" ValueMax="100" Value="50" Description="50%"/>
<PatternflyProgress ValueMin="50" ValueMax="150" Value="100" Description="50%"/>
<PatternflyProgress ValueMin="0" ValueMax="100" Value="100" Description="100%"/>

<PatternflyProgress @ref="progress" ValueMin="0" ValueMax="100" Value="0" Description="100%"/>
<PatternflyActionList>
    <PatternflyAction Clicked="SetZero">0</PatternflyAction>
    <PatternflyAction Clicked="SetFifty">50</PatternflyAction>
    <PatternflyAction Clicked="SetHundred">100</PatternflyAction>
    <PatternflyAction Clicked="MarkComplete">Complete</PatternflyAction>
</PatternflyActionList>
@code {
    PatternflyProgress progress = default!;
    async Task SetZero()
    {
        await progress.SetProgress(0);
    }
    async Task SetFifty()
    {
        await progress.SetProgress(50);
    }
    async Task SetHundred()
    {
        await progress.SetProgress(100);
    }
    async Task MarkComplete()
    {
        await progress.MarkComplete();
    }


}