@page "/patternfly-accordion"
@using Outrage.Patternfly.Components.Accordion

<PageTitle>Patternfly - Accordion</PageTitle>

<PatternflyTitle>Patternfly Accordion</PatternflyTitle>

<PatternflyPanel>
    <Body>
    <PatternflyAccordion>

        <PatternflyAccordionPanel>
            <Header>One</Header>
            <Body>
                The contents of panel 1
            </Body>
        </PatternflyAccordionPanel>

        <PatternflyAccordionPanel>
            <Header>Two</Header>
            <Body>
                The contents of panel 2
            </Body>
        </PatternflyAccordionPanel>

    </PatternflyAccordion>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-accordion.md"></Markdown>

@code {

}
