@page "/patternfly-badge"
@using Outrage.Patternfly.Components.Badge

<PageTitle>Patternfly Badge</PageTitle>

<PatternflyTitle>Patternfly Badge</PatternflyTitle>

<PatternflyPanel>
    <Body>
    <PatternflyBadge Read="false">Unread badge</PatternflyBadge>
    <PatternflyBadge Read="true">Read badge</PatternflyBadge>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-badge.md"></Markdown>

@code {

}
