@page "/patternfly-banner"
@using Outrage.Patternfly.Components.Banner

<PageTitle>Patternfly - Banner</PageTitle>

<PatternflyTitle>Patternfly Banner</PatternflyTitle>

<PatternflyPanel>
    <Body>
<PatternflyBanner Class="pf-u-m-md">Just the default</PatternflyBanner>
<PatternflyBanner Color="BannerColor.Success" Class="pf-u-m-md">A success banner</PatternflyBanner>
<PatternflyBanner Color="BannerColor.Danger" Class="pf-u-m-md">Danger, there is danger ahead</PatternflyBanner>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-banner.md"></Markdown>

@code {

}
