@page "/patternfly-button"
@using Outrage.Patternfly.Components.Button

<PageTitle>Patternfly Button</PageTitle>

<PatternflyTitle>Patternfly Button</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyButton Class="pf-u-m-md">I'm Primary</PatternflyButton>
        <PatternflyButton Class="pf-u-m-md" Color="ButtonColor.Secondary">I'm Secondary</PatternflyButton>
        <PatternflyButton Class="pf-u-m-md" Color="ButtonColor.Danger" Icon="bell">To click or not to click</PatternflyButton>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-button.md"></Markdown>

@code {

}
