@page "/patternfly-content"
@using Outrage.Patternfly.Components.Content

<PageTitle>Patternfly - Content</PageTitle>

<PatternflyTitle>Patternfly Content</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyContent>

            <h1>Welcome</h1>

            <p>Normal content styling applies in here!</p>

        </PatternflyContent>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-content.md"></Markdown>

@code {

}
