@page "/patternfly-expandablesection"
@using Outrage.Patternfly.Components.ExpandableSection

<PageTitle>Patternfly - Expandable Section</PageTitle>

<PatternflyTitle>Patternfly Expandable Section</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyExpandableSection>
            This content is hidden by default, but can be expanded
        </PatternflyExpandableSection>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-expandablesection.md"></Markdown>

@code {

}
