@page "/patternfly-hint"
@using Outrage.Patternfly.Components.Hint

<PageTitle>Patternfly - Hint</PageTitle>

<PatternflyTitle>Patternfly Hint</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyHint Title="Do more with blazor">
            <Body>
                Do you want more assistance to get started?
            </Body>
            <Footer>
                <PatternflyButton Color="ButtonColor.Link">Get started</PatternflyButton>
            </Footer>
        </PatternflyHint>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-hint.md"></Markdown>

@code {

}
