@page "/patternfly-label"
@using Outrage.Patternfly.Components.Label

<PageTitle>Patternfly - Label</PageTitle>

<PatternflyTitle>Patternfly Label</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyLabelGroup>
            <PatternflyLabelGroupListItem>
                <PatternflyLabel Color="LabelColor.Blue" Icon="info" Text="Information"></PatternflyLabel>
            </PatternflyLabelGroupListItem>
            <PatternflyLabelGroupListItem>
                <PatternflyLabel Color="LabelColor.Purple" Icon="question" Text="Question"></PatternflyLabel>
            </PatternflyLabelGroupListItem>
        </PatternflyLabelGroup>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-label.md"></Markdown>

@code {

}
