@page "/license"

<PageTitle>Patternfly - License</PageTitle>

<PatternflyTitle>License</PatternflyTitle>

<Markdown Href="/markdown/license.md"></Markdown>

<PatternflyTitle HeadingLevel="4">Note</PatternflyTitle>
<p>Should the above differ from the license at https://github.com/hollandar/outrage-patternfly/LICENSE, the above is replaced by the version at that location.</p>
