@page "/patternfly-modal"
@using Outrage.Patternfly.Components.Modal
@using Outrage.Patternfly.Components.Actions

<PageTitle>Patternfly - Modal</PageTitle>

<PatternflyTitle>Patternfly Modal</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <ModalDialogs />
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-modal.md"></Markdown>

@code {
}
