@page "/patternfly-pagination"
@using Outrage.Patternfly.Components.Pagination

<PageTitle>Patternfly - Pagination</PageTitle>

<PatternflyTitle>Patternfly Pagination</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyPagination Page="5" PageSize="20" TotalRecords="1000"/>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-pagination.md"></Markdown>

@code {

}
