@page "/patternfly-panel"
@using Outrage.Patternfly.Components.Panel

<PageTitle>Patternfly - Panel</PageTitle>

<PatternflyTitle>Patternfly Panel</PatternflyTitle>

<PatternflyPanel Raised="true" Bordered="true">
    <Header>A Panel</Header>
    <Body>
        This is the contents of the panel.
    </Body>
    <Footer>
        Some footer content.
    </Footer>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-panel.md"></Markdown>

@code {

}
