@page "/patternfly-spinner"
@using Outrage.Patternfly.Components.Spinner

<PageTitle>Patternfly - Spinner</PageTitle>

<PatternflyTitle>Patternfly Spinner</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflySpinner Size="SpinnerSize.Default"></PatternflySpinner>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-spinner.md"></Markdown>

@code {

}
