@page "/patternfly-tabs"
@using Outrage.Patternfly.Components.Tabs

<PageTitle>Patternfly Tabs</PageTitle>

<PatternflyTitle>Patternfly Tabs</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyTabs>
            <PatternflyTab Title="First Tab" Icon="tablet">
                <PatternflyContent>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis rutrum enim. Nunc rhoncus consectetur leo a porta. Etiam viverra sapien et sollicitudin laoreet. Nam nec arcu enim. Maecenas nibh leo, euismod ut quam et, lacinia facilisis nisi. Maecenas dignissim vitae nunc scelerisque ullamcorper. Nunc placerat imperdiet vehicula. Nunc pulvinar, felis non hendrerit pharetra, velit felis malesuada dolor, eget mollis libero enim at ex. Cras a commodo diam. Mauris accumsan mauris vel venenatis tincidunt. Sed laoreet quam tristique sodales porta. Nullam ornare consectetur euismod. Phasellus tristique convallis molestie.
                </PatternflyContent>
            </PatternflyTab>
            <PatternflyTab Title="Second Tab" Icon="table-tennis">
                <PatternflyContent>
                    Nulla in massa scelerisque sem vestibulum aliquam. Mauris a dolor ante. Integer ex dui, maximus eget faucibus in, pharetra consectetur dolor. Sed venenatis consectetur convallis. Vivamus accumsan vitae nulla at eleifend. Maecenas sollicitudin tortor nec felis suscipit accumsan. Sed id dui risus. Suspendisse bibendum nunc id hendrerit viverra. In ultrices ultrices semper. Pellentesque tempus eros id congue pellentesque. Aenean at viverra ex, in ultrices velit. Praesent metus libero, gravida in tincidunt quis, pharetra in arcu. Curabitur mattis ante non tempor porttitor. Proin mattis nec erat condimentum laoreet. Vivamus ut tincidunt nibh.
                </PatternflyContent>
            </PatternflyTab>
            <PatternflyTab Title="Third Tab" Icon="scroll">
                <PatternflyContent>
                    In hac habitasse platea dictumst. Nulla pretium mattis rutrum. Phasellus ultrices mollis tortor, tristique hendrerit nibh viverra in. Proin eu accumsan leo. Quisque pulvinar justo a orci condimentum, eu semper eros pulvinar. In auctor aliquam libero id bibendum. Duis venenatis, ex in malesuada dictum, tortor nisi vestibulum purus, eget facilisis massa arcu vitae sem. Cras arcu lacus, dignissim et vestibulum at, dapibus sagittis arcu. Donec tincidunt massa vitae enim volutpat suscipit. Sed vestibulum ante nec tristique venenatis. Fusce ultricies porttitor turpis, quis congue risus bibendum at. Mauris dapibus blandit scelerisque. Proin et ullamcorper risus, ut placerat sapien. Sed ligula lacus, fringilla sit amet felis eu, hendrerit pulvinar urna. Pellentesque eget lectus sit amet purus mollis molestie. Pellentesque rutrum volutpat massa vel pellentesque.
                </PatternflyContent>
            </PatternflyTab>
        </PatternflyTabs>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-tabs.md"></Markdown>

@code {

}
