@page "/patternfly-togglegroup"
@using Outrage.Patternfly.Components.ToggleGroup

<PageTitle>Patternfly - Toggle Group</PageTitle>

<PatternflyTitle>Patternfly Toggle Group</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyToggleGroup @bind-Value="selectedValue">
            <PatternflyToggleGroupItem Value="@("One")">
                Item One
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Two")">
                Item Two
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Three")">
                Item Three
            </PatternflyToggleGroupItem>
        </PatternflyToggleGroup>

        <div>
            Selected:
            @selectedValue
        </div>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-togglegroup.md"></Markdown>

@code {
    string? selectedValue;
}
