@page "/icon"
@using Outrage.Patternfly.Components.Utilities

<PageTitle>Patternfly - Icon</PageTitle>

<PatternflyTitle>Patternfly Icon</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <Icon Name="cog"/>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-icon.md"></Markdown>

@code {

}
