@inherits Patternfly.Components.Base.PatternflyComponentBase

<CascadingValue Name="Parent" Value="@this">
    <table class="@Classes" @attributes="AdditionalAttributes"
           role="grid"
        aria-label="@(Label??"")">
        @if (Columns != null)
        {
            <thead>
                <tr role="row">
                    @Columns
                </tr>
            </thead>
        }

        <tbody role="rowgroup">
            @Rows
        </tbody>
    </table>
</CascadingValue>

@code {


    [Parameter]
    public RenderFragment? Columns { get; set; }

    [Parameter]
    public TableFallbackPoint Fallback { get; set; } = TableFallbackPoint.Medium;

    [Parameter]
    public RenderFragment? Rows { get; set; }

    [Parameter]
    public string? Label { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-v5-c-table" });
        switch (Fallback)
        {
            case TableFallbackPoint.Custom: classes.Add("pf-m-grid"); break;
            case TableFallbackPoint.Medium: classes.Add("pf-m-grid-md"); break;
            case TableFallbackPoint.Large: classes.Add("pf-m-grid-lg"); break;
            case TableFallbackPoint.XLarge: classes.Add("pf-m-grid-xl"); break;
            case TableFallbackPoint.XXLarge: classes.Add("pf-m-grid-2xl"); break;
        }

        return classes;
    }
}
