@typeparam TItem
<td role="cell">
    <a href="@Href">
        @if (ChildContent != null)
        {
            @ChildContent(Value)
        }
    </a>
</td>

@code {
    [Parameter]
    public TItem? Value { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment<TItem?>? ChildContent { get; set; }
}
