<td role="cell" @attributes="AdditionalAttributes" class="pf-v5-c-table__td pf-v5-c-table__action">
    @ChildContent
</td>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
