<td class="pf-v5-c-table__td" role="cell">
    @if (Value)
    {
        @WhenTrue
    } else
    {
        @WhenFalse
    }
</td>

@code {
    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public RenderFragment WhenTrue { get; set; } = @<span>Yes</span>;

    [Parameter]
    public RenderFragment WhenFalse { get; set; } = @<span>No</span>;
}
