@page "/patternfly-descriptionlist"
@using Outrage.Patternfly.Components.DescriptionList

<PageTitle>Patternfly Description List</PageTitle>

<PatternflyTitle>Patternfly Description List</PatternflyTitle>

<PatternflyPanel>
    <Body>
    <PatternflyDescriptionList>
        <PatternflyDescriptionItem>
            <Term>Name</Term>
            <Description>Example</Description>
        </PatternflyDescriptionItem>
        <PatternflyDescriptionItem>
            <Term>Namespace</Term>
            <Description><a href="#">mary-test</a></Description>
        </PatternflyDescriptionItem>
        <PatternflyDescriptionItem>
            <Term>Labels</Term>
            <Description>Example</Description>
        </PatternflyDescriptionItem>
    </PatternflyDescriptionList>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-descriptionlist.md"></Markdown>

@code {

}
