@page "/patternfly-title"
@using Outrage.Patternfly.Components.Title

<PageTitle>Patternfly Title</PageTitle>

<PatternflyTitle>Patternfly Title</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyTitle Size="TitleSize.xl4"> Title xl4 (Heading Level 1)</PatternflyTitle>
        <PatternflyTitle Size="TitleSize.xl3"> Title xl3 (Heading Level 2)</PatternflyTitle>
        <PatternflyTitle Size="TitleSize.xl2"> Title xl2 (Heading Level 3)</PatternflyTitle>
        <PatternflyTitle Size="TitleSize.xl"> Title xl (Heading Level 4)</PatternflyTitle>
        <PatternflyTitle Size="TitleSize.lg"> Title lg (Heading Level 5)</PatternflyTitle>
        <PatternflyTitle Size="TitleSize.md"> Title md (Heading Level 6)</PatternflyTitle>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-title.md"></Markdown>

@code {

}
