@inherits Outrage.Patternfly.Components.Base.PatternflyComponentBase
<div class="@Classes" @attributes="AdditionalAttributes">
    @if (Actions != null)
    {
        <div class="pf-c-hint__actions">
            @Actions
        </div>
    }
    @if (!string.IsNullOrEmpty(Title))
    {
        <div class="pf-c-hint__title">@Title</div>
    }
    <div class="pf-c-hint__body">
        @Body
    </div>
    @if (Footer != null)
    {
        <div class="pf-c-hint__footer">
            @Footer
        </div>
    }
</div>
@code {
    [Parameter] public RenderFragment? Actions { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-c-hint" });
        return classes;
    }
}
