@inherits Patternfly.Components.Base.PatternflyComponentBase
<span class="@Classes" @onclick="OnClicked">@ChildContent</span>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Read { get; set; }
    [Parameter] public EventCallback Clicked { get; set; } = default!;

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new List<string> { "pf-v5-c-badge" };
        classes.Add(Read ? "pf-m-read" : "pf-m-unread");
        return classes;
    }

    protected async Task OnClicked(MouseEventArgs args)
    {
        await this.Clicked.InvokeAsync(args);
    }
}
