@inherits Outrage.Patternfly.Components.Base.PatternflyComponentBase  
<div class="@Classes" @attributes="AdditionalAttributes">
    <div class="pf-c-form__actions">
      @ChildContent
    </div>
  </div>

@code {
    [Parameter] public RenderFragment? ChildContent{ get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new List<string>{ "pf-c-form__group", "pf-m-action" };
        return classes;
    }
}
