@inherits Patternfly.Components.Base.PatternflyComponentBase

<div class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Horizontal { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-c-form" });

        if (Horizontal)
            classes.Add("pf-m-horizontal");

        return classes;
    }
}
