@page "/"

<PageTitle>Index</PageTitle>

<PatternflyContent>
    <PatternflyPanel>
        <Header>
            <PatternflyTitle>Hello, world!</PatternflyTitle>
            <p>Welcome to your new app.</p>
        </Header>
        <Body>
            <SurveyPrompt Title="How is Blazor working for you?" />
        </Body>
    </PatternflyPanel>
</PatternflyContent>
