/* VARIABLES */
:root {
    --ou-size-0: 0;
    --ou-size-4: 1rem;
}

/* CURSOR */

.ou-cursor-pointer {
    cursor: pointer;
}


/* DISPLAY */

.ou-display-none, .ou-hidden,
.ou-hidden-on-xs, .ou-hidden-on-sm, .ou-hidden-on-md, .ou-hidden-on-lg, .ou-hidden-on-2xl {
    display: none;
}

.ou-hidden-on-xs {
    @media only screen and (min-width: $pf-global--breakpoint--xs) {
        display: unset;
    }
}

.ou-hidden-on-sm {
    @media only screen and (min-width: $pf-global--breakpoint--sm) {
        display: unset;
    }
}

.ou-hidden-on-md {
    @media only screen and (min-width: $pf-global--breakpoint--md) {
        display: unset;
    }
}

.ou-hidden-on-lg {
    @media only screen and (min-width: $pf-global--breakpoint--lg) {
        display: unset;
    }
}

.ou-hidden-on-xl {
    @media only screen and (min-width: $pf-global--breakpoint--xl) {
        display: unset;
    }
}

.ou-hidden-on-2xl {
    @media only screen and (min-width: $pf-global--breakpoint--2xl) {
        display: unset;
    }
}


/* FLOAT */

.ou-float-right {
    float: right;
}

.ou-float-left {
    float: left;
}

/* WIDTH */
.ou-w-full {
    width: 100%;
}

/* PADDING */
.ou-p-4 {
    padding: var(--ou-size-4);
}

/* HIDDEN */
[hidden] {
    visibility: hidden;
}

/* Z-INDEX*/
.ou-z-top {
    z-index:900;
}

.ou-z-zero {
    z-index:0;
}

.ou-z-behind {
    z-index:-1;
}
