/* VARIABLES */
:root {
    --ou-size-0: 0;
    --ou-size-4: 1rem;
}

/* CURSOR */

.ou-cursor-pointer {
    cursor: pointer;
}


/* DISPLAY */

.ou-display-none, .ou-hidden,
.ou-hidden-on-xs, .ou-hidden-on-sm, .ou-hidden-on-md, .ou-hidden-on-lg, .ou-hidden-on-2xl {
    display: none;
}

.ou-hidden-on-xs {
    @media only screen and (min-width: $pf-global--breakpoint--xs) {
        display: unset;
    }
}

.ou-hidden-on-sm {
    @media only screen and (min-width: $pf-global--breakpoint--sm) {
        display: unset;
    }
}

.ou-hidden-on-md {
    @media only screen and (min-width: $pf-global--breakpoint--md) {
        display: unset;
    }
}

.ou-hidden-on-lg {
    @media only screen and (min-width: $pf-global--breakpoint--lg) {
        display: unset;
    }
}

.ou-hidden-on-xl {
    @media only screen and (min-width: $pf-global--breakpoint--xl) {
        display: unset;
    }
}

.ou-hidden-on-2xl {
    @media only screen and (min-width: $pf-global--breakpoint--2xl) {
        display: unset;
    }
}


/* FLOAT */

.ou-float-right {
    float: right;
}

.ou-float-left {
    float: left;
}

/* WIDTH */
.ou-w-full {
    width: 100%;
}

.ou-w-0 {
    width: 0px;
}

.ou-w-px {
    width: 1px;
}

.ou-w-0-5 {
    width: 0.125rem;
}

.ou-w-1 {
    width: 0.25rem;
}

.ou-w-1-5 {
    width: 0.375rem;
}

.ou-w-2 {
    width: 0.5rem;
}

.ou-w-2-5 {
    width: 0.625rem;
}

.ou-w-3 {
    width: 0.75rem;
}

.ou-w-3-5 {
    width: 0.875rem;
}

.ou-w-4 {
    width: 1rem;
}

.ou-w-5 {
    width: 1.25rem;
}

.ou-w-6 {
    width: 1.5rem;
}

.ou-w-7 {
    width: 1.75rem;
}

.ou-w-8 {
    width: 2rem;
}

.ou-w-9 {
    width: 2.25rem;
}

.ou-w-10 {
    width: 2.5rem;
}

.ou-w-11 {
    width: 2.75rem;
}

.ou-w-12 {
    width: 3rem;
}

.ou-w-14 {
    width: 3.5rem;
}

.ou-w-16 {
    width: 4rem;
}

.ou-w-20 {
    width: 5rem;
}

.ou-w-24 {
    width: 6rem;
}

.ou-w-28 {
    width: 7rem;
}

.ou-w-32 {
    width: 8rem;
}

.ou-w-36 {
    width: 9rem;
}

.ou-w-40 {
    width: 10rem;
}

.ou-w-44 {
    width: 11rem;
}

.ou-w-48 {
    width: 12rem;
}

.ou-w-52 {
    width: 13rem;
}

.ou-w-56 {
    width: 14rem;
}

.ou-w-60 {
    width: 15rem;
}

.ou-w-64 {
    width: 16rem;
}

.ou-w-72 {
    width: 18rem;
}

.ou-w-80 {
    width: 20rem;
}

.ou-w-80 {
    width: 20rem;
}

.ou-w-96 {
    width: 24rem;
}
/* HEIGHT */
.ou-h-full {
    height: 100%;
}

.ou-h-vh {
    height: 80vh;
}

.ou-fill {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

/* PADDING */
.ou-p-4 {
    padding: var(--ou-size-4);
}

/* HIDDEN */
[hidden] {
    visibility: hidden;
}

/* Z-INDEX*/
.ou-z-top {
    z-index: 900;
}

.ou-z-zero {
    z-index: 0;
}

.ou-z-behind {
    z-index: -1;
}

.ou-avatar-like {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
