@inherits InputTextArea
<span class="pf-v5-c-form-control @(ReadOnly ? "pf-m-readonly" : string.Empty)">
    <textarea @attributes="@AdditionalAttributes" @bind-value="CurrentValueAsString" @bind-value:event="@(BindEvent)" />
</span>
@code {
    [CascadingParameter(Name = "FieldName")]
    public string? FieldName { get; set; }

    [Parameter]
    public bool BindOnInput { get; set; } = false;

    [Parameter]
    public bool ReadOnly { get; set; } = false;

    protected string BindEvent => BindOnInput ? "oninput" : "onchange";

    protected override void OnParametersSet()
    {
        this.AdditionalAttributes = FormHelpers.PatternflyAugment(AdditionalAttributes, "", this.FieldName, (a) =>
        {
            if (ReadOnly) a["readonly"] = "readonly";
        }) ?? null;
        base.OnParametersSet();
    }
}
