@inherits Patternfly.Components.Base.PatternflyComponentBase

<div class="@Classes" @attributes="AdditionalAttributes">
    @if (Header != null)
    {
        <div class="pf-c-panel__header">@Header</div>
        <hr class="pf-c-divider" />
    }
    <div class="pf-c-panel__main">
        <div class="pf-c-panel__main-body">
            @Body
        </div>
    </div>
    @if (Footer != null)
    {
        <hr class="pf-c-divider" />
        <div class="pf-c-panel__footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public bool Raised { get; set; }

    [Parameter]
    public bool Bordered { get; set; }

    [Parameter]
    public bool Scrollable { get; set; }

    [Parameter]
    public int? MaxHeightPx { get; set; } 


    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-c-panel" });
        if (Raised)
            classes.Add("pf-m-raised");
        if (Bordered)
            classes.Add("pf-m-bordered");
        if (Scrollable)
            classes.Add("pf-m-scrollable");

        return classes;
    }

    public override Dictionary<string, object> DeriveAdditionalAttributes(Dictionary<string, object> additionalAttributes)
    {
        if (Scrollable && MaxHeightPx != null)
            additionalAttributes["Style"] = $"--pf-c-panel__main--MaxHeight: {MaxHeightPx}px;";

        return base.DeriveAdditionalAttributes(additionalAttributes);
    }
}
