@inherits Patternfly.Components.Base.PatternflyComponentBase

@using Outrage.Patternfly.Components.Button
@typeparam TItem
<div class="@Classes" @attributes="AdditionalAttributes">
    <PatternflyButton Color="@Color" Icon="@Icon" IconPosition="@IconPosition" Clicked="ActionClicked">
        @ChildContent
    </PatternflyButton>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter] 
    public string Icon { get; set; } = null;

    [Parameter] 
    public IconPosition IconPosition { get; set; } = IconPosition.Start;

    [Parameter]
    public TItem Item { get; set; }

    [Parameter]
    public EventCallback<ItemEventArgs<TItem>> Clicked { get; set; }

    async Task ActionClicked(MouseEventArgs e)
    {
        await this.Clicked.InvokeAsync(new ItemEventArgs<TItem> (e, this.Item));
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        return new string[] { "pf-c-action-list__item" };
    }

}
