@inherits Patternfly.Components.Base.PatternflyComponentBase

<nav class="@Classes" @attributes="AdditionalAttributes" aria-label="Global">
  <ul class="pf-c-nav__list">
    @ChildContent
  </ul>
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        return new string[] { "pf-c-nav" };
    }
}
