@inherits Patternfly.Components.Base.PatternflyComponentBase

<li class="pf-c-nav__item @Classes" @attributes="AdditionalAttributes">
    @ChildContent
</li>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
