<div class="@DeriveClass()">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Grow { get; set; } = false;

    string DeriveClass()
    {
        var classes = new HashSet<string>(new string[] { "pf-l-flex__item" });

        if (Grow)
        {
            classes.Add("pf-m-grow");
        }

        return String.Join(" ", classes);
    }
}
