@using Outrage.Patternfly.Components.Toaster

@inherits LayoutComponentBase

<PatternflyPage>
    <Logo>
        BlazorApp1
    </Logo>

    <Toggle>
        toggle
    </Toggle>

    <Sidebar>
        <NavMenu />
    </Sidebar>

    <Tools>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </Tools>

    <MainContent>
        @Body
    </MainContent>

</PatternflyPage>
<PatternflyToaster Expiry="@(TimeSpan.FromSeconds(10))"/>