@using Outrage.EventBus;
@using Outrage.Patternfly.Components.ManySelect
@inject IServiceProvider serviceProvider
@typeparam TKey

@inherits Outrage.Patternfly.Components.Base.PatternflyComponentBase

<CascadingValue Name="SelectParent" Value="this">
    <div class="@Classes" @attributes="AdditionalAttributes">
        <div class="pf-v5-c-select__toggle" @onclick="Toggle" @onclick:stopPropagation>
            <div class="pf-v5-c-select__toggle-wrapper">
                @Viewer
            </div>
            <button class="pf-v5-c-button pf-m-plain pf-v5-c-select__toggle-button"
                    type="button"
                    aria-haspopup="true"
                    aria-expanded="@toggled">
                <span class="pf-v5-c-select__toggle-arrow">
                    <i class="fas fa-caret-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>

        @if (toggled)
        {
            @Finder
        }
    </div>
</CascadingValue>

@code {
    public delegate Task KeysChangedHandler(HashSet<TKey> keys);

    bool toggled = false;
    [Parameter] public HashSet<TKey> Value { get; set; } = default!;
    [Parameter] public EventCallback<HashSet<TKey>> ValueChanged { get; set; }
    [Parameter] public bool CloseOnSelect { get; set; } = true;

    public event KeysChangedHandler OnKeysChanged = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    [Parameter]
    public RenderFragment? Viewer { get; set; }

    [Parameter]
    public RenderFragment? Finder { get; set; }

    void Toggle()
    {
        toggled = !toggled;
        StateHasChanged();
    }

    public async Task SetKeysAsync(params TKey?[] keys)
    {

        this.Value.Clear();
        foreach (var key in keys)
        {
            if (key != null)
                this.Value.Add(key);
        }

        await OnKeysChanged.Invoke(this.Value);
        await ValueChanged.InvokeAsync(this.Value);
        CloseSingle();
    }

    public async Task AddKeyAsync(TKey? key)
    {
        if (key != null)
        {
            this.Value.Add(key);

            await OnKeysChanged.Invoke(this.Value);
            await ValueChanged.InvokeAsync(this.Value);
        }
    }
    
    public async Task RemoveKeyAsync(TKey? key)
    {
        if (key != null)
        {
            this.Value.Remove(key);

            await OnKeysChanged.Invoke(this.Value);
            await ValueChanged.InvokeAsync(this.Value);
        }
    }

    public async Task ToggleKeyAsync(TKey? key)
    {
        if (key != null)
        {
            if (this.Value.Contains(key))
                this.Value.Remove(key);
            else
                this.Value.Add(key);

            await OnKeysChanged.Invoke(this.Value);
            await ValueChanged.InvokeAsync(this.Value);
            CloseSingle();
        }
    }

    public async Task ClearKeysAsync()
    {
        this.Value.Clear();

        await OnKeysChanged.Invoke(this.Value);
        await ValueChanged.InvokeAsync(this.Value);
        CloseSingle();
    }

    public bool IsKeySelected(TKey key)
    {
        return this.Value.Contains(key);
    }

    public async void CloseSingle()
    {
        if (this.CloseOnSelect && toggled)
        {
            toggled = false;
        }
        await InvokeAsync(StateHasChanged);
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>();
        classes.Add("pf-v5-c-select");
        if (toggled)
        {
            classes.Add("pf-m-expanded");
        }
        return classes;
    }
}