@using Outrage.Patternfly.Components.Toaster
@using static Outrage.Patternfly.Components.Utilities.Icon
@using Outrage.Patternfly.Components.Breadcrumb
@inherits LayoutComponentBase

<PatternflyToaster></PatternflyToaster>

<PatternflyPage FillMainContent="true">
    <Toggle>
        <svg style="vertical-align:-0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
    </Toggle>
    <Logo>
        <a href="/">
            <PatternflyTitle HeadingLevel="2">Outrage/Patternfly</PatternflyTitle>
        </a>
    </Logo>
    <Header>
        <PatternflyNavigation Horizontal="true">
            <PatternflyNavigationGroup>
                <PatternflyNavigationLink Href="" Match="NavLinkMatch.All">Home</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="/license">License</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="https://github.com/hollandar/outrage-patternfly" IconWeight="WeightEnum.brand" Icon="github">GitHub</PatternflyNavigationLink>
            </PatternflyNavigationGroup>
        </PatternflyNavigation>
    </Header>
    <Sections>
        <PatternflyPageSection Fill="true" Color="SectionColor.normal">
            <PatternflyPanel Class="pf-u-mb-sm"><Body><PatternflyBreadcrumb/></Body></PatternflyPanel>
            
            @Body
        </PatternflyPageSection>
        <PatternflyPageSection Color="SectionColor.dark_200">
            Sculpt is Copyright (C) Webefinity Pty. Ltd. 2022.
        </PatternflyPageSection>
    </Sections>
    <Sidebar>
        <PatternflyNavigation>
            <PatternflyNavigationGroup Title="Introduction">
                <PatternflyNavigationLink Href="getting-started" Icon="play">Getting Started</PatternflyNavigationLink>
            </PatternflyNavigationGroup>
            <PatternflyNavigationGroup Title="Components">
                <PatternflyNavigationLink Href="patternfly-accordion" Icon="square">Accordion</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-actionlist" Icon="exclamation">Actions</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-alert" Icon="bell">Alerts</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-backtotop" Icon="lock">Back To Top</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-backdrop" Icon="lock">Backdrop</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-badge" Icon="check">Badge</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-banner" Icon="flag">Banner</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-breadcrumb" Icon="ellipsis-h">Breadcrumb</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-button" Icon="mouse-pointer">Button</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-card" Icon="id-card">Card</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-content" Icon="align-justify">Content</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-datalist" Icon="list">Data List</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-descriptionlist" Icon="list">Description List</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-dropdown" Icon="ellipsis-v">Dropdown</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-duallistselector" Icon="stream">Dual List Selector</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-expandablesection" Icon="caret-down">Expandable Section</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-form" Icon="bold">Form</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-hint" Icon="info">Hint</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-fileupload" Icon="file">File Upload</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-label" Icon="tag">Label</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-layout" Icon="compress">Layout</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-loading" Icon="sync-alt">Loading</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-menu" Icon="bars">Menu</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-modal" Icon="window-maximize">Modal</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-navigation" Icon="map">Navigation</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-page" Icon="newspaper">Page</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-pagination" Icon="layer-group">Pagination</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-panel" Icon="square-full">Panel</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-progress" Icon="percent">Progress</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-select" Icon="check">Select</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-spinner" Icon="circle-notch">Spinner</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-table" Icon="table">Table</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-tabs" Icon="folder">Tabs</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-title" Icon="heading">Title</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-toaster" Icon="bread-slice">Toaster</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-togglegroup" Icon="dot-circle">Toggle Group</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-toolbar" Icon="tools">Toolbar</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-treeview" Icon="tree">Tree View</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="patternfly-view" Icon="eye">View</PatternflyNavigationLink>
                <PatternflyNavigationLink Href="icon" Icon="font-awesome" IconWeight="WeightEnum.brand">Icon</PatternflyNavigationLink>
            </PatternflyNavigationGroup>
        </PatternflyNavigation>
    </Sidebar>
</PatternflyPage>

